{% load static %}

<header class="main-header navbar">
  <div class="col-search">
    
  </div>
  <div class="col-nav">

    <ul class="nav">
      {% comment %} <li class="nav-item">
        <a class="nav-link btn-icon darkmode" href="#">
          <i class="material-icons md-nights_stay"></i>
        </a>
      </li> {% endcomment %}

      <li class="dropdown nav-item">
        <a
          class="dropdown-toggle"
          data-bs-toggle="dropdown"
          href="#"
          id="dropdownAccount"
          aria-expanded="false"
        >
          <img
            class="img-xs rounded-circle"
            src="{% static 'adminstatic/assets/imgs/people/avatar-2.png' %}"
            alt="User"
        /></a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount" style="left: -120px;">
          <a class="dropdown-item" href="#"
            ><i class="material-icons md-perm_identity"></i>Edit Profile</a
          >
          <a class="dropdown-item" href="#"
            ><i class="material-icons md-settings"></i>Account Settings</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href=""
            ><i class="material-icons md-exit_to_app"></i>Logout</a
          >
        </div>
      </li>
    </ul>
  </div>
</header>
