{% extends 'adminTemplate/base.html' %}

{% load static %}

{% block body  %}
<div class="container">
    <table class="table table-dark table-striped">
        <div class="container">
            <div class="row">
                <div class="col-sm-8" style="margin-top: 10px; margin-left:
                    -15px; ">
                    <h3><b>Offer </b></h3>
                </div>
                <div class="col-sm-4 text-end">

                    <div>
                        <a href='' class="btn btn-primary" style=" padding: 12px
                            34px; margin-top: 10px; margin-right: -38px;" data-toggle="modal" data-target="#addModal"> <i class="fa-solid fa-plus"></i> Add New</a>

                    </div>
                </div><br><br>
                <div class="col-13">
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th scope="col">Sno.</th>
                                <th scope="col" class="w-10">Product_ID</th>
                                <th scope="col">From_Date</th>
                                <th scope="col">To_Date</th>
                                <th scope="col">discount</th>
                                <th scope="col">status</th>
                                {% comment %} <th scope="col">createDate</th>
                                <th scope="col">updateDate</th> {% endcomment %}
                                {% comment %} <th scope="col">status</th> {% endcomment %}
                                <th scope="col">Update</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for data in Offercard %}
                                <th scope="row">{{forloop.counter}}</th>

                                <td scope="row">{{data.productid}}</td>
                                <td scope="row">{{data.from_date}}</td>
                                <td scope="row">{{data.to_date}}</td>
                                <td scope="row">{{data.discount}}</td>

                                {% if data.status == "True" %}  
                                <td>
                                    <label class="switch" onchange="switchFunction({{data.id}}, true)">
                                        <input type="checkbox" checked>
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                {% else %}
                                <td>
                                    <label class="switch" onchange="switchFunction({{data.id}}, true)">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                {% endif %}
                                {% comment %} <td scope="row">{{data.status}}</td> {% endcomment %}
                                

                                {% comment %} <td>
                                <input type="checkbox" checked data-toggle="toggle" data-on="Enable" data-off="Disable " value="" data-onstyle="success" data-offstyle="danger">

                                </td> {% endcomment %}

                                {% comment %} <td>{{data.createDate}}</td>
                                <td>{{data.updateDate}}</td> {% endcomment %}

                                <td>
                                    <a href="#updModal-{{forloop.counter}}" class="btn btn-success" data-toggle="modal"><i class="fa-regular fa-pen-to-square"></i>
                                           
                                    </a>
                                </td>

                                <td> 
                                    <a href="/delete_offer/{{ data.id }}" onclick="return confirm('Are You Sure,You want to delete this data?');" class="btn btn-danger"><i class='fas fa-trash-alt'></i>
                                    </a> 
                                </td>

                            </tr>
                            {%endfor%}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </table>
</div>





{% comment %} ---------------------------------------------------------------ADD MODAL------------------------------------------------------------------------------- {% endcomment %}

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/offer_apply/" method="post">
                    {% csrf_token%}
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Offer Name:</label>
                           
                        <input type="text" class="form-control" id="recipient-name" required name="productid"><br>

                        <label for="recipient-name" class="col-form-label" >From_Date:</label>
                        <input type="datetime-local" class="form-control" id="recipient-name" required name="from_date"><br>
                           
                        {% comment %} <input type="text" class="form-control" id="recipient-name" required name="from_date"><br> {% endcomment %}
                        <label for="recipient-name" class="col-form-label">To_Date:</label>
                           
                        <input type="datetime-local" class="form-control" id="recipient-name" required name="to_date"><br>
                        <label for="recipient-name" class="col-form-label">discount:</label>
                           
                        <input type="number" class="form-control" id="recipient-name" required name="discount"><br>
                        {% comment %} <label for="recipient-name" class="col-form-label">status:</label>
                           
                        <input type="" class="form-control" id="recipient-name" required name="status"><br>
                         {% endcomment %}
                        {% comment %} <label for="recipient-name" class="col-form-label">createDate:</label>
                           
                        <input type="datetime-local" class="form-control" id="recipient-name" required name="createDate"><br>
                        <label for="recipient-name" class="col-form-label">updateDate:</label>
                           
                        <input type="datetime-local" class="form-control" id="recipient-name" required name="updateDate"><br> {% endcomment %}

                        <div class="modal-footer " style=" margin-bottom: -36px;
                            margin-right: -24px;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="success" class="btn btn-primary">Submit</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function switchFunction(id, status){
        
        window.location.href=`{{baseURL}}/changeStatusofffercard/${id}`;
    }
</script>
{% comment %} -----------------------------------------------------------Update Modal------------------------------------------------------------------------------------------ {% endcomment %}
 {% for data in Offercard %} 
<div class="modal fade" id="updModal-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/offer_update/{{data.id}}" method="post" enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="form-group">
                        {% comment %} <label for="recipient-name" class="col-form-label">OfferCard:</label>
                           
                        <input type="text" class="form-control" value= "{{data.offercard}}" id="recipient-name" required name="productid"><br> {% endcomment %}

                        {% comment %} <img src="{{y.categoryIcon.url}}" class="card-img-top " alt="category image" style=" width: 30%; height:30%; position: sticky;top: 0; "><br><br> {% endcomment %}

                        <label for="recipient-name" class="col-form-label">Product_ID::</label>
                           
                        <input type="text" class="form-control" value= "{{data.offercard}}" id="recipient-name" required name="productid"><br>

                        <label for="recipient-name" class="col-form-label">From_Date:</label>
                           
                        <input type="datetime-local" class="form-control" value= "{{data.offercard}}" id="recipient-name" required name="from_date"><br>

                        <label for="recipient-name" class="col-form-label">To_Date:</label>
                           
                        <input type="datetime-local" class="form-control" value= "{{data.offercard}}" id="recipient-name" required name="to_date"><br>

                        <label for="recipient-name" class="col-form-label">discount:</label>
                           
                        <input type="text" class="form-control" value= "{{data.offercard}}" id="recipient-name" required name="discount"><br>


                        <div class="modal-footer " style=" margin-bottom: -36px;
                            margin-right: -24px;">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="success" class="btn btn-primary">Submit</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{%endfor%}
{% endblock body%}
